hmfaq.hhk              text working-tree-encoding=cp932 eol=CRLF
hmfaq.hhp              text working-tree-encoding=cp932 eol=CRLF
hmfaq.hhc              text working-tree-encoding=cp932 eol=CRLF
*.html                 text working-tree-encoding=cp932 eol=CRLF
