body {
  margin      : 2em;
  line-height : 1.4em;
  word-wrap : break-word;
  overflow-wrap: break-word;
}

h1{
  line-height: 1.0em;
}

h2 {
  color : White;
  background-color : Blue;
}

h3{
  color : White;
  background-color : #00BFFF ;
}

h4 {
  color : White;
  background-color : mediumaquamarine;
}

h5 {
  color : White;
  background-color : steelblue;
}

h6 {
  color : White;
  background-color : gray;
}

h2,h3,h4,h5,h6 {
  padding-top      : 4px;
  padding-bottom   : 2px;
  text-indent      : 2ex;
}

h4,h5,h6 {
  font-size :1em ;
}

kbd {
  background: whitesmoke;
  border-radius: 5px;
  border: solid 2px silver;
  box-shadow: 0 1px 0px #c3c3c3;
  color: black;
  font-family: monospace;
  font-weight: bold;
  line-height: 1.4em;
  margin: 0 3px;
  padding: 0.10em 0.50em;
  vertical-align: text-top;
}

.kbd {
  background: whitesmoke;
  border-radius: 5px;
  border: solid 2px silver;
  box-shadow: 0 1px 0px #c3c3c3;
  color: black;
  font-family: monospace;
  font-weight: bold;
  line-height: 1.4em;
  margin: 0 3px;
  padding: 0.10em 0.50em;
  vertical-align: text-top;
}

sup{
  margin-right : 0.5em;
}

.marginleft3 {
  margin-left : 3em;
}

.marginleft {
  padding-left : 2em;
}

.macro {
  line-height: normal;
  padding-left     : 5px;
  background-color : #E0FFFF;
  border-style     : solid ;
  border-width     : 1px 3px 3px 1px ;
  font-family      : monospace,sans-serif;
  color            : Black ;
}

.attention0 {
  color        : Black ;
  border-style : solid ;
  border-width : 2px 2px 2px 2px ;
  padding      : 5px;
}

.attention1 {
  font-weight  : bold;
  color        : Black ;
  border-style : solid ;
  border-width : 2px 2px 2px 2px ;
  padding      : 5px;
}

.attention_red {
  font-weight : bold;
  color       : Red ;
  padding     : 5px;
}

.attention_black {
  font-weight : bold;
  color       : Black ;
  padding     : 5px;
}

.attention_black2 {
  font-weight : bold;
  color       : Black ;
  padding     : 5px;
  margin-left : 3em;
}

.old_information
{
  background-color:#A9A9A9;
  color           :#C0C0C0;
}

.externallink {
  font-weight : bold;
  padding     : 5px;
  /*text-shadow : 1px 1px 1px black;*/
}

a[target="_blank"]:after {
  content        : url(./external-link-red03-Shapes4FREE.png);
  vertical-align : middle;
  margin         : 0 2px;
}

/*
.externallink>a:after {
  content        : url(./external-link-red03-Shapes4FREE.png);
  vertical-align : middle;
  margin         : 0 2px;
}

a.uri:after {
  content        : url(./external-link-red03-Shapes4FREE.png);
  vertical-align : middle;
  margin         : 0 2px;
}
*/

.monospace {
  font-family : monospace,sans-serif;
}

.font_ms code {
  font-family: 'ＭＳ ゴシック',monospace;
}

/*div.table_border > table, div.table_border > table > thead > tr td , div.table_border > table > tbody > tr td{*/
/*div.table_border  table, div.table_border th , div.table_border tr, div.table_border td{
  border          : solid 1px #000000;
  border-collapse : separate;
  border-spacing  : 2px;
}
*/

div.table_border  table{
  border          : solid 1px #000000;
  border-collapse : separate;
  border-spacing  : 1px;
}

div.table_border  th{
  border          : solid 1px #000000;
}

div.table_border  tr{
  border          : solid 1px #000000;
}

div.table_border  td{
  border          : solid 1px #000000;
  padding         : 5px;
}

div.table_border1  table, div.table_border1 th , div.table_border1 tr, div.table_border1 td{
  border          : solid 1px #000000;
  border-collapse : separate;
  border-spacing  : 2px;
  /*padding         : 2px;*/
}

div.table_border1  td{
  padding-left    : 3px;
  padding-right   : 3px;
}


.table_no_border{
  border          : none 0px #000000;
}

.box_line {
  color        : Black ;
  border-style : ridge ;
  border-width : 2px 2px 2px 2px ;
  padding      : 5px;
}

.box_line2 {
  font-family  : monospace,sans-serif;
  color        : Black ;
  border-style : ridge ;
  border-width : 2px 2px 2px 2px ;
  padding      : 5px;
}

.font_red {
  color       : Red;
  padding     : 5px;
}

.font_blue {
  color       : blue;
  padding     : 5px;
}

.font_org {
  color       : orange;
  padding     : 5px;
}

.font_blue_bold {
  font-weight : bold;
  color       : blue;
  padding     : 5px;
}

.font_red_bold {
  font-weight : bold;
  color       : red ;
  padding     : 5px;
}

.font_large {
  font-size   : x-large;
}

/* QA  start */
.env{
  font-weight     : bold;
  color           : white; /*orangered; /* mediumvioletred ; /*red ;*/
  background-color: #6aa512; /*papayawhip;/*lightcyan; /*beige;lightgray;*/
  padding-left    : 4px;
  padding-right   : 4px;
}

.filetype {
  font-weight     : bold;
  color           : blue;
  background-color: paleturquoise;
  padding-left    : 4px;
  padding-right   : 4px;
  /*
  color           : white;
  background-color: #167acb;
  padding         : 2px;
  */
}
/* IE */
@media screen\0 {
  .env{
    padding-top     : 2px;
    padding-bottom  : 2px;
  }
  .filetype{
    padding-top     : 2px;
    padding-bottom  : 2px;
  }
}
/* edgw */
@supports (-ms-ime-align: auto) {
  .env{
    padding-top     : 2px;
    padding-bottom  : 2px;
  }
  .filetype{
    padding-top     : 2px;
    padding-bottom  : 2px;
  }
}

.marker1 {
  font-weight    : bold;
  background     : mistyrose;
  padding        : 2px;
  /*
  padding-top    : 2px;
  padding-left   : 5px;
  padding-right  : 5px;
  padding-bottom : 2px;
  */
}

/* QA  end */


/*
div.table_waku > table {
  border      : ridge 4px #000000;
}
*/

div.attention_p > p {
  font-weight : bold;
  color       : Black;
  padding     : 2px;
  margin-left : 3em;
}

.text-right {
  text-align : right;
}

.rotate90{
  transform         : rotate(90deg);
  -ms-transform     : rotate(90deg);
  -moz-transform    : rotate(90deg);
  -webkit-transform : rotate(90deg);
  -o-transform      : rotate(90deg);
  display           : inline-block;
}

li {
  margin-top    : 6px;
  margin-bottom : 6px;
}

.cmdprompt {
  padding-left     : 5px;
  background-color : black;
  color            : white ;
  border-style     : solid ;
  font-family      : monospace,sans-serif;
}

.link_navigate a{
  margin-left  : 6px;
  margin-right : 6px;
}

.macro  pre{
  max-width     : 80em;
  overflow      : auto;
  margin-top    : 2px;
  margin-bottom : 2px;
}


.box  pre{
  padding-left  : 5px;
  max-width     : 80em;
  overflow      : auto;
  margin-top    : 2px;
  margin-bottom : 2px;
}

.BlockScroll{
  overflow      : auto;
}

.hme0016c_01 {
  width    : 300px;
  height   : 200px;
  overflow : auto;
}

.updated {
  font-weight : bold;
  text-shadow : 1px 1px 0 white, 2px 3px 2px deepskyblue;
  font-family : monospace,sans-serif;
  text-decoration:underline double;

}
.history_set {
  color: yellow;
  text-shadow : -1px -1px 1px black,
                 1px -1px 1px black,
                -1px  1px 1px black,
                 1px  1px 1px black;
  color: #000000\9;
}

.hr_noshade{
  height          :2px;
  border-width    :0;
  color           :gray;
  background-color:gray;
}

div.mark_dt > dl > dt {
  margin-left   : 0.5em;
  font-weight   : bold;
  /*color       : white;*/
  background-color : thistle;
}

div.mark_dt2 > dl > dt {
  margin-top    : 1em;
  margin-left   : 0.5em;
  font-weight   : bold;
  /*color       : white;*/
  background-color : thistle;
}


.outline_marker1{
  background-color: #c0c0c0;
  border          : #000000 solid 1px;
}

.outline_marker2{
  background-color: #c0c0c0;
  border          : #c0c0c0 solid 1px;
}

div.img_border img{
  /*border          : aquamarine solid 2px;*/
  border          : blue solid 1px;*/
}

/* -start---------------------------------------- */
/* base */
.ul_red_wave {
    text-decoration:underline wavy red;
}

/* IE */
@media screen\0 {
  .ul_red_wave{
      text-decoration:none;
      border-bottom:solid 2px red;
  }
}
/* edgw */
@supports (-ms-ime-align: auto) {
  .ul_red_wave{
      text-decoration:none;
      border-bottom:solid 2px red;
  }
}
/*
.ul_red_wave {
  border-bottom:solid 2px red;
}
*/
/* for google chrome */
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .ul_red_wave {
    border-bottom  : none;
    text-decoration:underline wavy red;
  }
}
*/

/* for Mozilla firfox. 59以降は動作しない*/
/*
@-moz-document url-prefix(){
  .ul_red_wave {
    border-bottom  : none;
    text-decoration:underline wavy red;
  }
}
*/

/* -end------------------------------------------ */

.marker_yellow {
  background: linear-gradient(transparent 70%, yellow 70%);
}

.mobile_view{
  display:none;
}

.dt_hyouki> dl > dt {
  margin-top  : 0.5em;
  font-weight  : bold;
}

.ul_red_bold {
  font-weight  : bold;
  border-bottom: solid 2px red;
}

.btn-push{
  display: inline-block;
  text-align: left;
  background-color: #F0F0F0;
  color: black;
  text-decoration: none;
  padding: 4px 4px;
  border-bottom: 3px solid #A0A0A0;
  border-right:  3px solid #A0A0A0;
  margin-right:  5px;
  margin-left:   5px;
}
/* 640px*/
@media screen and (max-width: 640px) {
  h1,h2,h3,h4,h5,h6 {
    font-size :1em ;
  }
  
  img{
    max-width: 100%;
    height: auto;
    width : auto;
  }
  
  .marginleft {
    padding-left : 0em;
  }
  
  .hme0016c_01 {
    max-width: 100%;
    width    : auto;
    height   : 200px;
    overflow : auto;
  }
  
  .mobile_view{
    font-size :x-small;
    display   :inline;
  }
}
